// Add any custom Sass & CSS here

#acount-manage {
    margin-top: 1em;
    margin-left:2em;
    #signout {
        margin-left: 1em;
        background:#4285f4;
        font-size: 0.8em;
        color: #fff;
        padding: 0.85em 2.85em;
        box-shadow: 1px 1px 10px #888;
    }
}


header {
    h1 {
        color: #092337;
    }
    #signin {
        margin-top: 3em;
    }
    padding: 5% 0 5% 0;
    div {
        margin-top: 3%;
    }
    a {
        padding: 5%;
        font-size: 1.3em;
    }
}

#start-crawler, #stop-crawler {
    background: #ffae00;
}


.button {
    background: rgb(9, 35, 55);
    border-bottom: 3px solid #326BCA;
    margin: 0.5em;
    &:hover {
        background: red;;
    }
}

#emails {
  ul {
    margin-top: 2em;
    list-style-type:none;
    li {
      span {
        font-weight: 600;
      }
      padding: 1em;
      border-bottom: 1px dotted #326BCA;
    }
  }
}

